
@page "/Users"
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

<h3>Users</h3>

<table>
    <tr>
        <td>User Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Phone Number</td>
    </tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
        </tr>
    }
</table>

@code
{
    private List<User> users = new List<User>();

    private Task LoadUsers()
    {
        var userService = new UserService(configuration); 
        users = userService.GetAllUsers();
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }
}
